* {
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}


.topnav a {
    float: none;
    display: block;
    text-align: left;
    width: 100%
}

.container {
    max-width: 2100px;
    margin: 0 auto;
    padding: 5px auto;

}

.header-flex {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 50px
}

.nav-link {
    font-family: normal;
    font-weight: 600;
    font-size: 26px;
    color: peru;
    text-decoration: none;
}

.header :hover {
    color: black;
}


.logo {
    width: 120px;
    left: 0%;
    flex: 20px;

}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.first-section-content {
    background-image: url(assets/COVER\ MEDDO.jpg);
    background-repeat: repeat;
    background-size: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
    background-size: cover;
    margin-bottom: 80px;
    border-radius: 17px;
}


.first-section {
    color: palevioletred;
    font-family: Ubuntu;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



/* Add a background color and some padding around the form */


.container {
    border-radius: 5px;
    background-color: pink;
    padding: 40px;
}

.footer-container {
    background-color: rgb(248, 187, 197);
    padding: 51px 0 159px;
}

.footer-contact {
    background-color: papayawhip;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-text {
    color: #FFF;
}


.footer-text a {
    display: block;
    font-weight: 300;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}